* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



header {
  width: 80%;
  margin: 15 px auto;
  padding: 10px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 20px;
  right: 20px;
left: auto;
transform: none;

  z-index: 100;
  border-radius: 50px;
}

header .logo {
  font-size: 22px;
  font-weight: bold;
  color: #004d40;
}

nav a {
  margin: 0 50px;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
}

.actions select {
  padding: 8px 10px;
  border-radius: 30px;
  border: 1px solid #aaa;
}

.apply-btn {
  background: #005446;
  color: white;
  padding: 10px 18px;
  border-radius: 30px;
  margin-left: 15px;
  text-decoration: none;
}


.hero {
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
              url('masjid-3589193_1280.jpg') center/cover no-repeat;

  border-radius: 50px;
  border: 10px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  position: relative;
  padding-top: 60px;  
}


.hero .content {
    position: relative;   
    padding-top: 200px;   
}


.title-box {
    position: absolute;
    top: -150px;          
    left: 0;
    right: 0;
    text-align: center;
}

.hero h1 {
  font-size: 90px;
  font-family: 'ANGELONE', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;       
  height: auto;
}

.hero p {
  font-size: 18px;
  max-width: 600px;
  margin: 20px auto 25px auto;
}



.apply-main {
  background: white;
  color: #004d40;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
}



.bottom-bar {
  width: 100%;
  background: rgba(0,0,0,0.50);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.bottom-bar img {
  height: 55px;
  object-fit: contain;
}
.places {
  text-align: center;
  padding: 100px 0;
  background: #ffffff;
}

.places h2 {
  font-size: 28px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  color: #004d40;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  position: relative;
  width: 260px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card-text h3 {
  font-size: 14px;
  letter-spacing: 1px;
}

card-text a {
    text-decoration: none;
    color: #f6f8fa;           
    font-weight: bold;
    transition: color 0.3s;
}


.card-text a:hover {
    color: #0f1113;          
    text-decoration: underline; 
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.visa-section {
    text-align: center;
    padding: 100px 0;
    background: #fff;
}

.visa-section h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color:#005446;
}

.visa-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.visa-card {
    width: 300px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    overflow: hidden;
    position: relative;
    transition: 0.3s ease;
}

.visa-card:hover {
    transform: translateY(-8px);
}

.visa-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.tag {
    position: absolute;
    top: 15px;
    left: 15px;
    background: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.visa-info {
    padding: 20px;
    text-align: left;
}

.visa-info h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #000;
}

.visa-info p {
    color: #555;
    margin-bottom: 8px;
}

.details p {
    font-size: 14px;
    margin: 3px 0;
}

.price {
    font-size: 26px;
    font-weight: bold;
    margin: 15px 0;
}

.visa-btn {
    width: 100%;
    display: block;
    background: #005446;
    color: white;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.visa-btn:hover {
    background: #003c32;
}
