* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



header {
  width: 80%;
  margin: 15 px auto;
  padding: 10px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 20px;
  right: 20px;
left: auto;
transform: none;

  z-index: 100;
  border-radius: 50px;
}

header .logo {
  font-size: 22px;
  font-weight: bold;
  color: #004d40;
}

nav a {
  margin: 0 50px;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
}

.actions select {
  padding: 8px 10px;
  border-radius: 30px;
  border: 1px solid #aaa;
}

.apply-btn {
  background: #005446;
  color: white;
  padding: 10px 18px;
  border-radius: 30px;
  margin-left: 15px;
  text-decoration: none;
}


.hero {
  height: 100vh;
 
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('masjid-3589193_1280.jpg') center/cover no-repeat;

  
border-radius:50px;
  border: 10px solid white;


  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 70px;
}
.hero h1 {
  font-size: 90px;
  margin-bottom: 15px;
  font-family: 'Arial Black', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
 height: 200px;
}



.hero p {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 25px;
}

.apply-main {
  background: white;
  color: #004d40;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
}

/* Bottom bar */
.bottom-bar {
  width: 100%;
  background: rgba(0,0,0,0.50);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.bottom-bar img {
  height: 55px;
  object-fit: contain;
}
.places {
  text-align: center;
  padding: 100px 0;
  background: #ffffff;
}

.places h2 {
  font-size: 28px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  color: #1b7001;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  position: relative;
  width: 260px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card-text h3 {
  font-size: 14px;
  letter-spacing: 1px;
}

card-text a {
    text-decoration: none;
    color: #f6f8fa;           
    font-weight: bold;
    transition: color 0.3s;
}


.card-text a:hover {
    color: #0f1113;          
    text-decoration: underline; 
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

